/* full calendar */
.fc-view-harness.fc-view-harness-active {
  height: 660px !important;
}
a {
  color: #000 !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start,
.fc-v-event,
.fc-h-event {
  border: none !important;
}

.fc-daygrid-block-event .fc-event-time,
.fc-daygrid-block-event .fc-event-title {
  padding-left: 5px;
}
